
/*====================----------//////////
	V :: Theme || B :: Shortkuts
\\\\\----------====================*/
.ttnone {
	text-transform:none;
}
.block {
	display:block;
}
.inblock {
	display:inline-block;
}
.relative {
	position:relative;
}
.absolute {
	position:absolute;
}
.ofhidden {
	overflow:hidden;
}
.clear {
	clear:both;
}
.p3020 {
	padding:30px 20px;
}
.border-box {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
.tacenter {
	text-align:center;
}
.taright {
	text-align:right;
}
.animate05s {
	-webkit-transition:all 0.5s ease-in-out 0s;
	-moz-transition:all 0.5s ease-in-out 0s;
	-o-transition:all 0.5s ease-in-out 0s;
	transition:all 0.5s ease-in-out 0s;
	-webkit-transform: translate3d(0,0,0);
}
.animate1s {
	-webkit-transition:all 1.0s ease-in-out 0s;
	-moz-transition:all 1.0s ease-in-out 0s;
	-o-transition:all 1.0s ease-in-out 0s;
	transition:all 1.0s ease-in-out 0s;
	-webkit-transform: translate3d(0,0,0);
}
img.w100 {
	/* make an image will it's parent width */
	height:auto;
	width:100%;
	display:block;
}
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.m0auto {
	margin:0 auto;
}
.m20auto {
	margin:20px auto;
}
.m0auto20 {
	margin:0 auto 20px;
}
.vamiddle {
	vertical-align:middle;
}
.va20 {
	height:20px;
	line-height:20px;
}
.pt5 {
	padding-top:5px;
}
.pr5 {
	padding-right:5px;
}
.pb5 {
	padding-bottom:5px;
}
.pl5 {
	padding-left:5px;
}
.pt10 {
	padding-top:10px;
}
.pr10 {
	padding-right:10px;
}
.pb10 {
	padding-bottom:10px;
}
.pl10 {
	padding-left:10px;
}
.pt15 {
	padding-top:15px;
}
.pr15 {
	padding-right:15px;
}
.pb15 {
	padding-bottom:15px;
}
.pl15 {
	padding-left:15px;
}
.p20 {
	padding:20px;
}
.pt20 {
	padding-top:20px;
}
.pr20 {
	padding-right:20px;
}
.pb20 {
	padding-bottom:20px;
}
.pl20 {
	padding-left:20px;
}
.pt25 {
	padding-top:25px;
}
.pr25 {
	padding-right:25px;
}
.pb25 {
	padding-bottom:25px;
}
.pl25 {
	padding-left:25px;
}
.p30 {
	padding:30px;
}
.pt30 {
	padding-top:30px;
}
.pr30 {
	padding-right:30px;
}
.pb30 {
	padding-bottom:30px;
}
.pl30 {
	padding-left:30px;
}
.pt50 {
	padding-top:50px;
}
.pt75 {
	padding-top:75px;
}
.pb120 {
	padding-bottom:120px;
}
.pt120 {
	padding-top:120px;
}
.mb20 {
	margin-bottom:20px;
}
.mb120 {
	margin-bottom:120px;
}