@charset "UTF-8";
/*
	This is where the magic happens. This file should have any styles that are the same across all states of the site
 */
@import 'mixins/mixins'; // contains sb-media mixin
@import 'base/baselayout';
@import 'modules/modules';
@import 'theme/theme';



.borders {
	display:block;
	border:solid 1px #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:20px;
}
.sixty {
	width:60em;
}
.forty {
	width:40em;
}
.twenty {
	width:20em;
}
.ten {
	width:10em;
}

/*====================----------//////////
	VI :: State Changes aka Media Queries
\\\\\----------====================*/
@import 'layout/mobileSmall';

@import 'layout/mobileLarge';

@import 'layout/tabletSmall';

@import 'layout/tabletLarge';

@import 'layout/desktop';
